@model BigDataCourse.Areas.Admin.Models.Article
@{
    ViewData["Title"] = Model.Name;
    string isUpVote = "";
    string isDownVote = "";
    string isDownload = "";
    if (ViewBag.isUpVote)
        isUpVote = "btn-active";
    if (ViewBag.isDownVote)
        isDownVote = "btn-active";
    if (ViewBag.isDownload)
        isDownload = "btn-active";
}
<div class="latest_newsarea">
    <span>Tag</span>
    <ul id="ticker01" class="news_sticker">
        @foreach (var item in ViewBag.listTag)
        {
            <li><a href="#">@item.Name</a></li>
        }
    </ul>
</div>

<section id="contentbody">
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
            <div class="row">
                <div class="middle_bar">
                    <div class="single_post_area">
                        <ol class="breadcrumb">
                            <li><a href="/"><i class="fa fa-home"></i>Trang chủ<i class="fa fa-angle-right"></i></a></li>
                            <li class="active">@Model.Name</li>
                        </ol>
                        <h2 class="post_title wow ">@Model.Name</h2>
                        <a href="#" class="author_name"><i class="fa fa-eye" aria-hidden="true"></i>@ViewBag.countView lượt xem</a>
                        <a href="#" class="post_date"><i class="fa fa-clock-o"></i>@Model.CreatedDate</a>
                        <div class="single_post_content">
                            @Html.Raw(Model.Content)
                            
                        </div>
                        <div style="background-color: #fff; padding: 20px;">
                            <button type="button" onclick="Interactive('UpVote')" class="btn btn-success @isUpVote">
                                <i class="fa fa-thumbs-up" aria-hidden="true" style="margin-right: 4px;"></i>Thích (<span id="like">@ViewBag.countUpVote</span>)
                            </button>
                            <button type="button" onclick="Interactive('DownVote')" class="btn btn-warning @isDownload">
                                <i class="fa fa-thumbs-down" aria-hidden="true" style="margin-right: 4px;"></i>Không thích (<span id="dislike">@ViewBag.countDownVote</span>)
                            </button>
                            <button type="button" onclick="Interactive('Download')" class="btn btn-default @isDownload">
                                <i class="fa fa-download" aria-hidden="true" style="margin-right: 4px;"></i>Tải xuống (<span id="download">@ViewBag.countDownload</span>)
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="row">
                <div class="right_bar">
                    <div class="single_leftbar wow fadeInDown">
                        <h2><span>Có thể bạn sẽ thích</span></h2>
                        <div class="singleleft_inner">
                            <ul class="catg3_snav ppost_nav wow fadeInDown">
                                @foreach (var item in ViewBag.popular)
                                {
                                    if (item.Image.Length == 0)
                                    {
                                        item.Image = "noimage.png";
                                    }
                                    <li>
                                        <div class="media">
                                            <a href="/Home/Detail/@item.ArticleID" class="media-left">
                                                <img alt="@item.Name"
                                                 src="~/Uploads/@item.Image">
                                            </a>
                                            <div class="media-body">
                                                <a href="/Home/Detail/@item.ArticleID" class="catg_title">
                                                    @item.Name
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="single_leftbar wow fadeInDown">
                        <h2><span>Quảng cáo</span></h2>
                        <div class="singleleft_inner"> <a href="#"><img alt="" src="~/TemplateNews/images/262x218.jpg"></a></div>
                    </div>
                    <div class="single_leftbar wow fadeInDown">
                        <h2><span>Tag</span></h2>
                        <div class="singleleft_inner">
                            <ul class="footer_labels">
                                @foreach (var item in ViewBag.listTag)
                                {
                                    <li><a href="#">@item.Name</a></li>
                                }
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    @if (Context.Session.GetString("_userName") != null)
    {
        <input id="isLogin" type="hidden" value="@ViewBag.countDownload" />
    }
</section>
@section scripts{
    <script>
        var isLogin = false;
        if (document.getElementById("isLogin") != undefined)
        isLogin = true;
        function Interactive(value) {
            if(!isLogin){
                alert("Hãy đăng nhập để tiếp tục");
                return;
            }
            if (value == 'UpVote')
            {
                let up = document.getElementById("like");
                if (!up.parentElement.classList.contains('btn-active')) {
                    up.innerHTML = @(ViewBag.countUpVote + 1);
                    up.parentElement.classList.add('btn-active');
                            up.disabled = true;
                    let down = document.getElementById("dislike");
                    if (!down.parentElement.classList.contains('btn-active')) {
                        down.innerHTML = @(ViewBag.countDownVote - 1);
                        down.parentElement.classList.remove('btn-active');
                        down.disabled = false;
                    }
                }
                else
                return;
            }
            else if (value == 'DownVote'){
                let down = document.getElementById("dislike");
                if (!down.parentElement.classList.contains('btn-active')) {
                    down.innerHTML = @(ViewBag.countDownVote + 1);
                    down.parentElement.classList.add('btn-active');
                    down.disabled = true;
                    let up = document.getElementById("like");
                    if (!up.parentElement.classList.contains('btn-active')){
                        up.innerHTML = @(ViewBag.countUpVote - 1);
                        up.parentElement.classList.remove('btn-active');
                        up.disabled = false;
                    }
                }
                else
                    return;
            }
            else{
                let d = document.getElementById("isLogin");
                document.getElementById("download").innerHTML = d.value + 1;
                    document.getElementById("download").parentElement.classList.add('btn-active');
                    d.value += 1;
                alert("Tải xuống thành công");
            }
            $.ajax({
                    url: "/Home/Interactive",
                dataType: "json",
                method: "POST",
                data: {
                    id: @Model.ArticleID,
                    value: value
                },
                success: function (res) {
                    
                }
            });
        }
    </script>
}