@model X.PagedList.IPagedList<BigDataCourse.Areas.Admin.Models.Article>
@{
    ViewData["Title"] = "Trang chủ";
}
<div class="latest_newsarea">
    <span>Tag</span>
    <ul id="ticker01" class="news_sticker">
        @foreach (var item in ViewBag.listTag)
        {
            <li><a href="#">@item.Name</a></li>
        }
    </ul>
</div>
 <div class="thumbnail_slider_area">
        <div class="owl-carousel">
        @foreach (var item in ViewBag.slide1)
        {
            <div class="signle_iteam">
                <img src="~/Uploads/@item.Image" alt="@item.Name">
                <div class="sing_commentbox slider_comntbox">
                    <p><i class="fa fa-calendar"></i>@item.CreatedDate</p>
                </div>
                <a class="slider_tittle" href="/Home/Detail/@item.ArticleID">@item.Name</a>
            </div>
        } 
        </div>
      </div>
      <section id="contentbody">
        <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
            <div class="row">
              <div class="left_bar">
                <div class="single_leftbar">
                  <h2><span>Gần đây</span></h2>
                  <div class="singleleft_inner">
                    <ul class="recentpost_nav wow fadeInDown">
                                @foreach (var item in ViewBag.recent)
                                {
                                    <li>
                                        <a href="/Home/Detail/@item.ArticleID"><img src="~/Uploads/@item.Image" alt="@item.Name"></a> <a class="recent_title" href="/Home/Detail/@item.ArticleID">
                                            @item.Name
                                        </a>
                                    </li>
                                }
                    </ul>
                  </div>
                </div>
                <div class="single_leftbar wow fadeInDown">
                  <h2><span>Quảng cáo</span></h2>
                  <div class="singleleft_inner"> <a href="#"><img src="~/TemplateNews/images/150x600.jpg" alt=""></a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-7 col-md-7 col-sm-8 col-xs-12">
            <div class="row">
              <div class="middle_bar">
                <div class="featured_sliderarea">
                  <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    @*<ol class="carousel-indicators">
                      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                      <li data-target="#myCarousel" data-slide-to="1"></li>
                      <li data-target="#myCarousel" data-slide-to="2"></li>
                      <li data-target="#myCarousel" data-slide-to="3"></li>
                    </ol>*@
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                                        <img src="~/Uploads/@ViewBag.slide2[0].Image" alt="@ViewBag.slide2[0].Name">
                                        <div class="carousel-caption">
                                        <h1><a href="/Home/Detail/@ViewBag.slide2[0].ArticleID">@ViewBag.slide2[0].Name</a></h1>
                                        </div>
                                    </div>
                                @for (var i = 1; i < ViewBag.slide2.Count; i++)
                                {
                            <div class="item">
                                        <img src="~/Uploads/@ViewBag.slide2[i].Image" alt="@ViewBag.slide2[i].Name">
                                        <div class="carousel-caption">
                                            <h1><a href="/Home/Detail/@ViewBag.slide2[i].ArticleID">@ViewBag.slide2[i].Name</a></h1>
                                        </div>
                                    </div>
                        }
                    </div>
                    <a class="left left_slide" href="#myCarousel" role="button" data-slide="prev"> <span
                        class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> </a> <a
                      class="right right_slide" href="#myCarousel" role="button" data-slide="next"> <span
                        class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> </a>
                  </div>
                </div>
                <div class="single_category wow fadeInDown">
                  @*<div class="category_title"> <a href="pages/category-archive.html">Category 1</a></div>*@
                  <div class="single_category_inner">
                    <ul class="catg_nav">
                        @foreach (var item in Model)
                        {
                                    <li>
                                        <div class="catgimg_container">
                                            <a class="catg1_img" href="pages/single_page.html">
                                                <img src="~/TemplateNews/images/310x150.jpg" alt="@item.Name">
                                            </a>
                                        </div>
                                        <a class="catg_title" href="/Home/Detail/@item.ArticleID">
                                            @item.Name
                                        </a>
                                        <div class="sing_commentbox">
                                            <p><i class="fa fa-calendar"></i>@item.CreatedDate </p>
                                        </div>
                                    </li>
                                }
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="row">
              <div class="right_bar">
                <div class="single_leftbar wow fadeInDown">
                  <h2><span>Phổ biến</span></h2>
                  <div class="singleleft_inner">
                    <ul class="catg3_snav ppost_nav wow fadeInDown">
                                @foreach (var item in ViewBag.popular)
                                {
                                    <li>
                                        <div class="media">
                                            <a href="pages/single_page.html" class="media-left">
                                                <img alt="@item.Name"
                                                 src="~/TemplateNews/images/70x70.jpg">
                                            </a>
                                            <div class="media-body">
                                                <a href="/Home/Detail/@item.ArticleID" class="catg_title">
                                                    @item.Name
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                }
                    </ul>
                  </div>
                </div>
                <div class="single_leftbar wow fadeInDown">
                  <h2><span>Quảng cáo</span></h2>
                  <div class="singleleft_inner"> <a href="#"><img alt="" src="~/TemplateNews/images/262x218.jpg"></a></div>
                </div>
                <div class="single_leftbar wow fadeInDown">
                  <h2><span>Tag</span></h2>
                  <div class="singleleft_inner">
                            <ul class="footer_labels">
                                @foreach (var item in ViewBag.listTag)
                                {
                                    <li><a href="#">@item.Name</a></li>
                                }
            </ul>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </section>
